.movie-array {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    width: 100%;
    padding: 1.8rem;
    padding: 3px 1.8rem 1.8rem 1.8rem; //Altera apenas a primeira linha de cards
}