.navbar {
    .page-title {
        background-color: #e50914;
        color: #fff;
        padding: 12px 3%;
        font-family: var(--font-oswald);
        background: #e50914;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    .subtitle {
        background-color: rgb(12, 2, 2);
        color: #fff;
        font-family: var(--font-nunito);
        padding: 10px 2.4%;
        font-size: 1.5em; 
        margin-top: 18px; 
        text-align: left;
    }

    .upcoming {
                background-color: rgba(170, 18, 7, 0.767);
                padding: 6px 8px;
                border-radius: 10px;
                margin-top: 1px;
                color: white;
                border: none;
                cursor: pointer;
                float:right;
                font-size: 0.6em;
                font-family: var(--font-nunito);
                font-weight: bold;
    }
}
