.navbar {
    background-color: #e50914;
     color: #fff;
    padding: 12px 3%;

    .page-title {
        font-family: var(--font-oswald);
        background: #e50914;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
}