.footer {
  width: 100%;
  padding: 1.4rem 1rem; 
  text-align: center;
  background-color: #111; // Um fundo escuro
  color: #888; 
  border-top: 1px solid #333; // Linha superior para separar do conteúdo
  font-size: 0.9rem;
}